
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
env/
.venv/

# Environment variables
.env
.env.*

# ML models
data/models/*
!data/models/.gitkeep

# datasets
data/csv/*
!data/csv/.gitkeep
*.csv

# logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# temp
tmp/
temp/
